#container ul {
    height: 30px;
    background-color: yellowgreen;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

@media (max-widht: 300px) {
    
    #container ul {
        width: 40px;
        background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
}