body {
    background-color: bisque;
}


main {
    max-width: 515px;
    margin: 0 auto;
    height: 800px;
}

.rec {
    width: 500px;
    margin: 0 auto;
    position: relative;
    
   
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgb(135, 34, 62); 
   
}

.rec #profile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 40px auto 0 auto; /* Зургийг дээд ирмэгээс доошлуулна */
    
    /* Зургийг улаан фонны урд гаргах */
    position: relative;
    z-index: 2;

    margin-top: 120px;

}

.zurg1 {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    
    /* Сөрөг margin-аар ягаан хээг зургийнхаа ард таархаар доошлуулна */
    margin-top: -80px; 
}


.name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1px;
    padding-top: 10px;
}

#name2 {
    font-size: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
}

.socials img {
    width: 32px;
    height: 32px;
}


.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons p {
    width: 150px;
    margin: 0 auto;
    font-size: 20px;
    padding: 14px 20;
    border-radius: 30px;
    text-align: center;
}

#name3 {
    background-color: rgb(243, 64, 94);
}

#name4 {
    background-color: whitesmoke;
}


.contents {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 20px;

    margin: 0 auto;
    text-align: center;
}

#backround {
    background-color: white;
    border-radius: 60px;
}
